@font-face {
    font-family: "Fleur";
    src: url(../fonts/Fleur_De_Leah/FleurDeLeah-Regular.ttf);
}

@font-face {
    font-family: "Merriwether";
    src: url(../fonts/Merriweather/Merriweather-VariableFont_opsz\,wdth\,wght.ttf);
}

@font-face {
    font-family: "Fraunces";
    src: url(../fonts/Fraunces/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@media (max-width: 800px) {
    header, footer {
        max-height: none;
    }

    header {
        padding-bottom: 2rem;
    }

    main {
        max-width: 85% !important;
        width: 100% !important;
        padding: 3rem 1.5rem !important;
        padding-top: 12rem !important;

        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: auto auto auto !important;
        grid-template-areas:
            "business"
            "photo"
            "owner" !important;

        gap: 1rem !important;
        justify-content: center !important;
    }

    #B, #C {
        margin: 0 !important;
    }

    .decor {
        display: none;
    }
}

html {scroll-behavior: smooth;}

.direct:hover, .contact:hover, .menu:hover{ 
    zoom: 125%;
    transition: all .3s ease-in-out;
    text-shadow: 0 0 5px #ba0062;

}

body {
    background-image: url(../images/background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 1rem;
}

header {
    background-color: #f6cde0;
    border-bottom: 2px solid #ba0062;
    position: fixed;
    width: 100%;
    margin: auto;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'logo menu';
    padding-bottom: 0.15rem;
    
    align-content: space-evenly;
}

  footer {
    font-family: "Merriwether", 'Times New Roman', Times, serif;
    background-color: #000000;
    color: #f6cde0;
    position: static;
    width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    left: 0;
    bottom: 0;
}
  
  header, footer {text-align: center;
}


#title {
    text-shadow: 0 0 5px #ba0062;
    font-family: "Fleur", 'Times New Roman', Times, serif; 
    font-size: 2.5rem;
    color: #000000;
    grid-area: logo;
    text-align: left;
    margin-left: 1.5rem;
    vertical-align: middle;
    align-self: center;
}

#menu {
    grid-area: menu;
    vertical-align: middle;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-self: end;
    font-size: 2rem !important;
    align-self: center;
}


.leaf {
    vertical-align: middle;
}

.direct {
    text-decoration: none;
    font-family: "Fraunces", 'Times New Roman', Times, serif;
    color: black; 
    font-size: 1.25rem !important;  
}

main {
    background-color: rgba(246, 205, 224, .80);
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 2rem;
    margin: auto;
    max-width: 75%;
    min-height: calc(100vh - 15rem);
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: auto auto;
    grid-template-areas:
    "photo business"
    "photo owner";
}

.cell {
    margin: 0.5rem 1rem;
    flex: 1;
    text-align: left;
    padding: 0.5rem 1rem;
    
}

#A {
    grid-area: photo;
    display: flex;
    justify-content: center;   
    align-items: center;      
}


#profile {
    max-width: 100%;
    height: auto;
}


#B {
    grid-area: business;
    padding: 0.5rem;
}
  
#C {
    grid-area: owner;
    padding: 0.5rem;
}

footer {
    font-family: "Merriwether", 'Times New Roman', Times, serif;
    background-color: #000000;
    color: #f6cde0;
    position: static;
    width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    left: 0;
    bottom: 0;
}
  
header, footer {text-align: center;
}

h2, h3 {
    font-family: "Fleur", 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.sub {
    text-shadow: 0 0 5px #ba0062;
}

p {font-family: "Merriwether", 'Times New Roman', Times, serif ;
}

.menu, .cred, .contact {
    font-family: "Fraunces", 'Times New Roman', Times, serif;
    color: #f6cde0;
    text-decoration: none;
}

.menu {
    font-size: 1.25rem;
}